.cart-widget {
  display: flex;
  align-items: center;
}

.cart-widget i {
  margin-right: 5px;
}

.cart-count {
  background-color: #d51c1c;
  color: #fff;
  font-size: 16px;
  padding: 2px 5px;
  border-radius: 50%;
}
