.cart-widget {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.cart-widget i {
  margin-right: 5px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 24px;
  height: 24px;
  border-radius: 50%; /* Esto hace que el contador sea un círculo perfecto */
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
