.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b5b5b55a;
  padding: 20px;
}

.logo img {
  height: 40px;
  width: auto;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.links a:hover {
  color: #aaa;
}

.cart-widget {
  display: flex;
  align-items: center;
}

.cart-widget i {
  margin-right: 5px;
}

.cart-count {
  background-color: #ff0000;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
  margin-left: 5px;
}
